.rodape{
    display: none;
}
@media screen and (min-width:808px){
    .rodape{
        display: flex;
        justify-content: space-around;
    }
    .lista-rodape__titulo{
        padding: 1em;
        color: var(--cor-fonte-menu);
        font-weight: 800;
    }
    .lista-rodape__link{
        text-decoration: none;
        font-size: 18px;
        color: var(--cor-fonte-menu);
    }
    .lista-rodape__itens{
        align-items: center;
    }
}
